<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li>
        <a href="{% url "home:home" %}" class="nav-link px-2 text-secondary">Home</a>
    </li>
    <li>
        <a href="{% url 'posts:list' %}" class="nav-link px-2 text-white">Posts</a>
    </li>
    <li>
        <a href="{% url 'photos:list' %}" class="nav-link px-2 text-white">Photos</a>
    </li>
    <li>
        <a href="{% url 'photos:galleries' %}" class="nav-link px-2 text-white">Galeries</a>
    </li>
    <li>
        <a href="{% url 'home:contact' %}" class="nav-link px-2 text-white">Contact</a>
    </li>
    <li>
        <a href="#" class="nav-link px-2 text-white">FAQs</a>
    </li>
    <li>
        <a href="{% url 'home:about' %}" class="nav-link px-2 text-white">About</a>
    </li>

</ul>
